@{
    ViewData["Title"] = "Sobre o Sistema";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-8">
        <p>
            Este sistema foi desenvolvido como parte do trabalho interdisciplinar das disciplinas de
            <strong>Linguagem de Programação I</strong> (Prof. Eduardo Rosalem) e
            <strong>Sistemas Embarcados</strong> (Prof. Fábio Cabrini).
        </p>
        <p>
            O objetivo é criar um software de supervisão
            capaz de monitorar dados de dispositivos IoT (ESP32)
            utilizando a plataforma FIWARE.
            A aplicação web gerencia os dispositivos, usuários e locais monitorados,
            além de exibir dados históricos e alertas.
        </p>

        <h4 class="mt-4">Tecnologias Utilizadas</h4>
        <ul>
            <li>ASP.NET Core 8 (MVC)</li>
            <li>SQL Server</li>
            <li>Padrão DAO com Herança</li>
            <li>FIWARE (Orion, IoT Agent, STH-Comet)</li>
            <li>Chart.js (para Dashboards)</li>
            <li>Ajax (para Consultas Dinâmicas)</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Integrantes do Grupo</h3>
        <ul class="list-group">
            <li class="list-group-item">Nome Aluno 1 - RA: XXXXXX</li>
            <li class="list-group-item">Nome Aluno 2 - RA: XXXXXX</li>
            <li class="list-group-item">Nome Aluno 3 - RA: XXXXXX</li>
            <li class="list-group-item">Nome Aluno 4 - RA: XXXXXX</li>
            <li class="list-group-item">Nome Aluno 5 - RA: XXXXXX</li>
            <li class="list-group-item">Nome Aluno 6 - RA: XXXXXX</li>
        </ul>
    </div>
</div>